[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flax = "*"
ipykernel = "*"
jax = {extras = ["cuda12"], version = "*"}
# pip install -U "jax[tpu]" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
matplotlib = "*"
scikit-image = "*"
sympy = "*"
tensorflow = "*"
tensorflow_datasets = "*"
torch = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
